<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SimpleLoad_OleDb_MS_Access2007_1.My.MySettings.CustomersConnection"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=Database2.accdb;Jet OLEDB:Database Password=karen" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
